body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#4f7bb7;
	font-family:Futura, sans-serif;
	font-size:620.6px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"Brandon Text Regular", sans-serif;
	font-size:250px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:768.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1366.00px;
}
#_idContainer001 {
	-ms-transform:translate(-0.001px,-4.145px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,-4.145px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,-4.145px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,-4.145px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1366.00px;
}
#_idContainer002 {
	-ms-transform:translate(-0.001px,730.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,730.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,730.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,730.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1366.00px;
}
#_idContainer003 {
	-ms-transform:translate(120.410px,0.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(120.410px,0.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(120.410px,0.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(120.410px,0.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.50px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,0.494px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.494px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.494px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.494px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.77px;
}
#_idContainer005 {
	-ms-transform:translate(9.711px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(9.711px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.711px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(9.711px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.49px;
}
#_idContainer006 {
	-ms-transform:translate(28.840px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(28.840px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(28.840px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(28.840px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.67px;
}
#_idContainer007 {
	-ms-transform:translate(47.495px,0.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(47.495px,0.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(47.495px,0.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(47.495px,0.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.67px;
}
#_idContainer008 {
	-ms-transform:translate(67.025px,0.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(67.025px,0.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(67.025px,0.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(67.025px,0.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.75px;
}
#_idContainer009 {
	-ms-transform:translate(84.016px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(84.016px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.016px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(84.016px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.75px;
}
#_idContainer010 {
	-ms-transform:translate(102.407px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(102.407px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(102.407px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(102.407px,0.312px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.75px;
}
#_idContainer011 {
	-ms-transform:translate(51.709px,59.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(51.709px,59.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(51.709px,59.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(51.709px,59.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:33.26px;
}
#_idContainer012 {
	-ms-transform:translate(59.279px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.279px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.279px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.279px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.98px;
}
#_idContainer013 {
	-ms-transform:translate(67.347px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(67.347px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(67.347px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(67.347px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.98px;
}
#_idContainer014 {
	-ms-transform:translate(75.415px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(75.415px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(75.415px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(75.415px,64.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.98px;
}
#_idContainer015 {
	-ms-transform:translate(71.381px,68.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(71.381px,68.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(71.381px,68.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(71.381px,68.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.98px;
}
#_idContainer016 {
	-ms-transform:translate(63.313px,68.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.313px,68.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.313px,68.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.313px,68.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.98px;
}
#_idContainer017 {
	-ms-transform:translate(23.955px,56.453px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.955px,56.453px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.955px,56.453px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.955px,56.453px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.50px;
}
#_idContainer018 {
	-ms-transform:translate(98.305px,64.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(98.305px,64.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(98.305px,64.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(98.305px,64.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.53px;
}
#_idContainer019 {
	-ms-transform:translate(96.219px,60.177px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(96.219px,60.177px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(96.219px,60.177px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(96.219px,60.177px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.87px;
}
#_idContainer020 {
	-ms-transform:translate(615.890px,26.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(615.890px,26.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:93.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(615.890px,26.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(615.890px,26.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:135.91px;
}
#_idContainer021 {
	-ms-transform:translate(932.816px,233.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(932.816px,233.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:352.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(932.816px,233.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(932.816px,233.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:398.55px;
}
#_idContainer022 {
	-ms-transform:translate(0.000px,4.044px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,4.044px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:407.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,4.044px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,4.044px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:229.92px;
}
#_idContainer023 {
	-ms-transform:translate(216.029px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(216.029px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:402.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(216.029px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(216.029px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:227.51px;
}
#_idContainer024 {
	-ms-transform:translate(481.011px,160.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(481.011px,160.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:411.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(481.011px,160.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(481.011px,160.742px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:443.54px;
}
#_idContainer025 {
	-ms-transform:translate(98.978px,49.655px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(98.978px,49.655px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(98.978px,49.655px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(98.978px,49.655px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:121.14px;
}
#_idContainer026, #_idContainer044 {
	-ms-transform:translate(98.783px,0.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(98.783px,0.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(98.783px,0.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(98.783px,0.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.72px;
}
#_idContainer027, #_idContainer045 {
	-ms-transform:translate(-0.001px,0.405px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.405px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.405px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.405px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.91px;
}
#_idContainer028, #_idContainer046 {
	-ms-transform:translate(7.967px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.967px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(7.967px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.967px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.88px;
}
#_idContainer029, #_idContainer047 {
	-ms-transform:translate(23.660px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.660px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.660px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.660px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.04px;
}
#_idContainer030, #_idContainer048 {
	-ms-transform:translate(38.964px,0.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(38.964px,0.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.964px,0.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(38.964px,0.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.04px;
}
#_idContainer031, #_idContainer049 {
	-ms-transform:translate(54.986px,0.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(54.986px,0.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(54.986px,0.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(54.986px,0.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.10px;
}
#_idContainer032, #_idContainer050 {
	-ms-transform:translate(68.925px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(68.925px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(68.925px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(68.925px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.10px;
}
#_idContainer033, #_idContainer051 {
	-ms-transform:translate(84.013px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(84.013px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.013px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(84.013px,0.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.10px;
}
#_idContainer034 {
	-ms-transform:translate(103.796px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(103.796px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(103.796px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(103.796px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.50px;
}
#_idContainer035 {
	-ms-transform:translate(103.796px,49.931px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(103.796px,49.931px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(103.796px,49.931px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(103.796px,49.931px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.50px;
}
#_idContainer036 {
	-ms-transform:translate(0.121px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.121px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:80.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.121px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.121px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.68px;
}
#_idContainer037 {
	-ms-transform:translate(24.320px,13.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.320px,13.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.320px,13.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.320px,13.237px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:63.13px;
}
#_idContainer038 {
	-ms-transform:translate(0.000px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:87.45px;
}
#_idContainer039, #_idContainer054 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:121.14px;
}
#_idContainer040, #_idContainer055 {
	-ms-transform:translate(11.515px,-0.813px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.515px,-0.813px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:83.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.515px,-0.813px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.515px,-0.813px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.37px;
}
#_idContainer041 {
	-ms-transform:translate(231.643px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(231.643px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(231.643px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(231.643px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:121.14px;
}
#_idContainer042 {
	-ms-transform:translate(361.496px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(361.496px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(361.496px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(361.496px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:352.78px;
}
#_idContainer043 {
	-ms-transform:translate(49.224px,49.655px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.224px,49.655px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.224px,49.655px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.224px,49.655px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:121.14px;
}
#_idContainer052 {
	-ms-transform:translate(54.042px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(54.042px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(54.042px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(54.042px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.50px;
}
#_idContainer053 {
	-ms-transform:translate(54.042px,49.931px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(54.042px,49.931px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(54.042px,49.931px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(54.042px,49.931px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.50px;
}
#_idContainer056 {
	-ms-transform:translate(181.889px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(181.889px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(181.889px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(181.889px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:121.14px;
}
#_idContainer057 {
	-ms-transform:translate(0.000px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.71px;
}
#_idContainer058 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:303.03px;
}
#_idContainer059 {
	-ms-transform:translate(325.861px,630.774px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(325.861px,630.774px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(325.861px,630.774px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(325.861px,630.774px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:714.28px;
}
#_idContainer060 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:427.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:160.49px;
}
#_idContainer061 {
	-ms-transform:translate(160.485px,38.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(160.485px,38.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:389.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(160.485px,38.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(160.485px,38.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.00px;
}
#_idContainer062 {
	-ms-transform:translate(107.519px,150.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(107.519px,150.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:427.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(107.519px,150.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(107.519px,150.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:311.49px;
}
#_idContainer063 {
	-ms-transform:translate(543.423px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(543.423px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(543.423px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(543.423px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:279.15px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
